<%# locals: (chat: nil, message_hint: nil) %>

<div id="chat-form" class="space-y-2">
  <% model = chat && chat.persisted? ? [chat, Message.new] : Chat.new %>

  <%= form_with model: model,
                class: "flex lg:flex-col gap-2 bg-card border border-border px-3 py-2 rounded-lg shadow-sm",
                data: { chat_target: "form" } do |f| %>

    <%# In the future, this will be a dropdown with different AI models %>
    <%= f.hidden_field :ai_model, value: "gpt-4.1" %>

    <%= f.text_area :content, placeholder: "Ask anything ...", value: message_hint,
                  class: "w-full border-0 focus:ring-0 text-sm resize-none bg-transparent text-primary placeholder:text-muted",
                  data: { chat_target: "input", action: "input->chat#autoResize keydown->chat#handleInputKeyDown" },
                  rows: 1 %>

    <div class="flex items-center justify-between gap-2">
      <div class="items-center gap-2 hidden lg:flex">
        <%# These are disabled for now, but in the future, will all open specific menus with their own context and search %>
        <% ["plus", "command", "at-sign", "mouse-pointer-click"].each do |icon| %>
          <%= render Ui::ButtonComponent.new(
            icon: icon,
            variant: :ghost,
            size: :sm,
            disabled: true,
            options: { title: "Coming soon" }
          ) %>
        <% end %>
      </div>

      <%= render Ui::ButtonComponent.new(
        icon: "arrow-up",
        variant: :primary,
        size: :sm,
        type: "submit"
      ) %>
    </div>
  <% end %>

  <p class="text-xs text-muted">AI responses are informational only and are not financial advice.</p>
</div>
