<%= content_for :page_title, t(".page_title") %>

<%= settings_section title: t(".general_title"), subtitle: t(".general_subtitle") do %>
  <%= render Ui::FormComponent.new(
    model: @user,
    data: { controller: "auto-submit-form" }
  ) do |form| %>
    <%= form.hidden_field :redirect_to, value: "preferences" %>

    <%= form.fields_for :family do |family_form| %>
      <%= render Ui::FormFieldComponent.new(
        form: family_form,
        field: :currency,
        label: t(".currency")
      ) do %>
        <%= render Ui::SelectComponent.new(
          form: family_form,
          field: :currency,
          options: Money::Currency.as_options.map { |currency| [ "#{currency.name} (#{currency.iso_code})", currency.iso_code ] },
          disabled: true
        ) %>
      <% end %>

      <%= render Ui::FormFieldComponent.new(
        form: family_form,
        field: :locale,
        label: t(".language")
      ) do %>
        <%= render Ui::SelectComponent.new(
          form: family_form,
          field: :locale,
          options: language_options,
          data: { auto_submit_form_target: "auto" }
        ) %>
      <% end %>

      <%= render Ui::FormFieldComponent.new(
        form: family_form,
        field: :timezone,
        label: t(".timezone")
      ) do %>
        <%= render Ui::SelectComponent.new(
          form: family_form,
          field: :timezone,
          options: timezone_options,
          data: { auto_submit_form_target: "auto" }
        ) %>
      <% end %>

      <%= render Ui::FormFieldComponent.new(
        form: family_form,
        field: :date_format,
        label: t(".date_format")
      ) do %>
        <%= render Ui::SelectComponent.new(
          form: family_form,
          field: :date_format,
          options: Family::DATE_FORMATS,
          data: { auto_submit_form_target: "auto" }
        ) %>
      <% end %>

      <%= render Ui::FormFieldComponent.new(
        form: form,
        field: :default_period,
        label: t(".default_period")
      ) do %>
        <%= render Ui::SelectComponent.new(
          form: form,
          field: :default_period,
          options: Period.all.map { |period| [ period.label, period.key ] },
          data: { auto_submit_form_target: "auto" }
        ) %>
      <% end %>

      <%= render Ui::FormFieldComponent.new(
        form: family_form,
        field: :country,
        label: t(".country")
      ) do %>
        <%= render Ui::SelectComponent.new(
          form: family_form,
          field: :country,
          options: country_options,
          data: { auto_submit_form_target: "auto" }
        ) %>
        
        <div class="mt-2">
          <p class="text-xs italic text-secondary">Please note, we are still working on translations for various languages. Please see the <%= link_to "I18n issue", "https://github.com/maybe-finance/maybe/issues/1225", target: "_blank", class: "underline" %> for more information.</p>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= settings_section title: t(".theme_title"), subtitle: t(".theme_subtitle") do %>
  <div data-controller="theme" data-theme-user-preference-value="<%= @user.theme %>">
    <%= render Ui::FormComponent.new(
      model: @user,
      html_id: "theme_form",
      class: "flex flex-col md:flex-row justify-between items-center gap-4",
      data: { controller: "auto-submit-form", auto_submit_form_trigger_event_value: "change" }
    ) do |form| %>
      <%= form.hidden_field :redirect_to, value: "preferences" %>

      <% theme_option_class = "text-center transition-all duration-200 p-3 rounded-lg hover:bg-surface-hover cursor-pointer [&:has(input:checked)]:bg-surface-hover [&:has(input:checked)]:border [&:has(input:checked)]:border-primary [&:has(input:checked)]:shadow-xs" %>

      <% [
        { value: "light", image: "light-mode-preview.png" },
        { value: "dark", image: "dark-mode-preview.png" },
        { value: "system", image: "system-mode-preview.png" }
      ].each do |theme| %>
        <%= form.label :"theme_#{theme[:value]}", class: "group" do %>
          <div class="<%= theme_option_class %>">
            <%= image_tag(theme[:image], alt: "#{theme[:value].titleize} Theme Preview", class: "h-44 mb-2") %>
            <div class="<%= theme[:value] == "system" ? "flex items-center gap-2 justify-center" : "text-sm font-medium text-primary" %>">
              <%= form.radio_button :theme, theme[:value], checked: @user.theme == theme[:value], class: "sr-only",
                data: { auto_submit_form_target: "auto", autosubmit_trigger_event: "change", action: "theme#updateTheme" } %>
              <%= t(".theme_#{theme[:value]}") %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>