<%= content_for :header_nav do %>
  <%= render "budgets/budget_nav", budget: @budget %>
<% end %>

<%= content_for :previous_path, budget_path(@budget) %>
<%= content_for :cancel_path, budget_path(@budget) %>

<div>
  <div class="space-y-4">
    <div class="text-center space-y-2">
      <h1 class="text-3xl text-primary font-medium">Setup your budget</h1>
      <p class="text-secondary text-sm max-w-sm mx-auto">
        Enter your monthly earnings and planned spending below to setup your budget.
      </p>
    </div>

    <div class="mx-auto max-w-lg">
      <%= render Ui::BudgetFormComponent.new(budget: @budget) %>
    </div>
  </div>
</div>
