<%= render Ui::HeaderWithThemeToggleComponent.new(
  title: t(".title")
) do %>
  <%= render Ui::ButtonComponent.new(
    text: "New import",
    href: new_import_path,
    icon: "plus",
    variant: :primary,
    options: { data: { turbo_frame: "modal" } }
  ) %>
<% end %>

<%= render Ui::CardComponent.new(
  variant: :default,
  size: :md
) do %>
  <% if @imports.empty? %>
    <%= render partial: "imports/empty" %>
  <% else %>
    <div class="space-y-4">
      <div class="flex items-center justify-between">
        <h2 class="text-sm font-medium text-secondary"><%= t(".imports") %> · <%= @imports.size %></h2>
        
        <%= render Ui::ButtonComponent.new(
          icon: "filter",
          variant: :ghost,
          size: :sm,
          text: "Filter"
        ) %>
      </div>
      
      <div class="divide-y divide-border rounded-lg border border-border overflow-hidden">
        <%= render partial: "imports/import", collection: @imports.ordered %>
      </div>
    </div>
  <% end %>
<% end %>
